<h1>Search</h1>

<%@image_urls.each do |url|%>
  <a class='image-link' href="<%=url%>">
    <img class='image-result'src="<%=url%>">
  </a>
<%end%>

<%@previous_searches.each do |search_info|%>
  <%colour= search_info.colour%>
  <%noun= search_info.noun%>
  <%id = search_info.id%>

  <a href="/search/history/<%=id%>" id='history-link-<%=id%>'><%=colour%> <%=noun%></a>
<%end%>
