<p id='search-title'><%=@title%></p>
<div class='image-container'>

  <div class='large-row'>
    <div class='large-cell'>
      <a class='image-link' href="<%=@image_urls[0]%>">
        <img class='image-result'src="<%=@image_urls[0]%>">
      </a>
    </div>

    <div class=column>
      <div class='small-cell'>
        <a class='image-link' href="<%=@image_urls[1]%>">
          <img class='image-result'src="<%=@image_urls[1]%>">
        </a>
      </div>

      <div class='small-cell'>
        <a class='image-link' href="<%=@image_urls[2]%>">
          <img class='image-result'src="<%=@image_urls[2]%>">
        </a>
      </div>
    </div>
  </div>

  <div class='small-row'>
    <div class='small-cell'>
      <a class='image-link' href="<%=@image_urls[3]%>">
        <img class='image-result'src="<%=@image_urls[3]%>">
      </a>
    </div>

    <div class='small-cell'>
      <a class='image-link' href="<%=@image_urls[4]%>">
        <img class='image-result'src="<%=@image_urls[4]%>">
      </a>
    </div>

    <div class='small-cell <%=@colour%>-square'>
      <a id='home-link' href="/">
        <div id=return-button>
            <p id='search-again'>Search Again</p>
        </div>
      </a>
    </div>
  </div>
</div>

<%@previous_searches.each do |search_info|%>
  <%colour= search_info.colour%>
  <%noun= search_info.noun%>
  <%id = search_info.id%>

  <a href="/search/history/<%=id%>" id='history-link-<%=id%>'><%=colour%> <%=noun%></a>
<%end%>
