<p id='search-title'><%=@title%></p>
<div class='image-container'>

  <div class='large-row'>
    <div class='large-cell top-left'>
      <a class='image-link' href="<%=@image_urls[0]%>">
        <img class='image-result'src="<%=@image_urls[0]%>">
      </a>
    </div>

    <div class=column>
      <div class='small-cell top-right'>
        <a class='image-link' href="<%=@image_urls[1]%>">
          <img class='image-result'src="<%=@image_urls[1]%>">
        </a>
      </div>

      <div class='small-cell'>
        <a class='image-link' href="<%=@image_urls[2]%>">
          <img class='image-result'src="<%=@image_urls[2]%>">
        </a>
      </div>
    </div>
  </div>

  <div class='small-row'>
    <div class='small-cell bottom-left'>
      <a class='image-link' href="<%=@image_urls[3]%>">
        <img class='image-result'src="<%=@image_urls[3]%>">
      </a>
    </div>

    <div class='small-cell'>
      <a class='image-link' href="<%=@image_urls[4]%>">
        <img class='image-result'src="<%=@image_urls[4]%>">
      </a>
    </div>

    <div class='small-cell <%=@colour%>-square bottom-right'>
      <a id='home-link' href="/">
        <div id=return-button>
            <p id='search-again'>Search Again</p>
        </div>
      </a>
    </div>
  </div>
</div>


<div id='previous-searches-container'>
  <div class='search-cell label control'>
    <p class='cell-label arrow' id='newer'><</p>
  </div>
  <div id='generated-searches'>
    <%@previous_searches.reverse.each do |search_info|%>
      <%colour= search_info.colour%>
      <%noun= search_info.noun%>
      <%id = search_info.id%>
      <%time = search_info.time%>
      <%date = search_info.date%>

      <div class='search-cell <%=colour%>-square'>
        <a href="/search/history/<%=id%>" class='history-link' id='history-link-<%=id%>'>
          <div class='history-info'>
            <p class='noun'><%=noun.upcase%></p>
            <p class='time'><%=time%></p>
            <p class='date'><%=date%></p>
          </div>
        </a>
      </div>
    <%end%>
  </div>

  <div class='search-cell label control' id='older'>
    <p class='cell-label arrow'>></p>
  </div>

</div>
